@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

:root {
    --white-clr: white;
    --icon-height: 30px;
    --sidebar-gap: 20px 50px;
}

img {
    display: block;
}

.container {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    background-color: #0898ed;
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
}

.main-content {
    grid-column: 2 / 3;
}

.sidebar > .sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px 10px 50px 20px;
    color: var(--white-clr);
}

.sidebar > .sidebar-header > img {
    fill: var(--white-clr);
    width: auto;
    height: 50px;
    padding-right: 10px;
}

.sidebar > .sidebar-header > h1 {
    font-size: 1.8rem;
}

.sidebar > .sidebar-navigation,
.sidebar > .support-navigation { 
    display: grid;
    grid-template-columns: 40px 100px;
    gap: var(--sidebar-gap);
    align-items: center;
}

.sidebar > .sidebar-navigation > img,
.sidebar > .support-navigation > img {
    height: var(--icon-height);
    margin-left: 30px;
    cursor: pointer;
}

.header > .upper-header img {
    cursor: pointer;
}
.sidebar-navigation > img + a,
.support-navigation > img + a {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar > .support-navigation {
    margin-top: 60px;
} 

/* HEADER SECTION */

.search-bar > label + input {
    outline: none;
    border: none;
    background-color: #80808026;
    border-radius: 15px;
    height: 32px;
    width: 760px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.search-bar, 
.notification {
    padding-top: 20px;
    padding-left: 20px;
}

.header > .upper-header > .search-bar > label > img {
    height: 27px;
}

.notification {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.notification img:first-child {
    height: 30px;
}

.notification img {
    height: 50px;
}

.notification > img + span {
    font-size: 1.3rem;
    font-weight: bold;
}

.lower-header,
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px; 
}

.lower-header {
    padding: 20px 60px;
}

.lower-header > .greet-container > img {
    height: 70px;
}

.lower-header > .greet-container{ 
    display: flex;
    align-items: center;
    gap: 20px;
}

.lower-header > .greet-container > p {
    font-weight: bold;
    font-size: 0.9rem;
}

.lower-header > .greet-container > p > span {
    font-size: 1.5rem;
}

.lower-header > .buttons > button {
    font-size: 1.1rem;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #0898ed;
    cursor: pointer;
    height: 40px;
    width: 110px;
    border-radius: 25px;
}

.lower-header > .buttons {
    display: flex;
    gap: 30px;
}

.header {
    box-shadow: 1px 1px 5px gray;
}

/* MAIN CONTENT */

.main-content {
    display: grid;
    padding: 25px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.25fr 1fr;
    background-color: #e1e1e1ad;
}

.main-content > .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px;
    grid-auto-rows: 175px;
    gap: 20px 50px;
    grid-row: 1 / 3;
    padding: 10px;
}

.main-content > .cards > .project-card {
    border-radius: 20px;
    padding: 20px 30px;
    background-color: white;
    border-left: 8px solid #ffcc6e;
    display: grid;
    grid-template-rows: 80% 20%;
}

.main-content > .cards > h3 {
    grid-column: 1 / 3;
}
.main-content > .announcements {
    grid-column: 2/3;
    background-color: lightcoral;
}

.main-content > .trending {
    grid-column: 2/3;
    background-color: lightcyan;
}

.main-content .project-card > .icon-container {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.main-content .project-card > .icon-container > img {
    height: 25px;
}

.main-content .project-card div:first-child > p {
    color: rgba(0, 0, 0, 0.555);
}